/*
Colores
  dark-purple: hsl(300, 43%, 22%)
  pink:hsl(333, 80%, 67%)
  purple: hsl(303, 10%, 53%)
  soft-white: hsl(300, 24%, 96%)
  background-color: hsl(0, 0%, 90%);

Fuente de la página
  https://fonts.google.com/specimen/Karla
  Estilos 200 y 400
*/

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 90%);
  font-family: "Karla", sans-serif;
}

.bg-pattern-bottom,
.bg-pattern-top{
  position:absolute;
}
.bg-pattern-top{
  top:0;
  left:0;
}
.bg-pattern-bottom{
  bottom:0;
  right:0;
}

.container
{
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
}

.left-container{
  position: relative;
  height:400px;
  top: 4em;
  width:40%;
}
.title{
  color: hsl(300, 43%, 22%);
  font-size: 3rem;
}

.description{
  color: hsl(303, 10%, 53%);
  font-size: 1.25rem;
  font-weight: 200;
}
.right-container{
  position: absolute;
  height: 400px;
  right: 0;
  top: 0;
}

.rate{
  background-color: hsl(300, 24%, 96%);
  padding: 2em 1.5em;
  margin: 1.5em 0;
  border-radius: 0.5em;
  width:450px;
}
.star-icon{
  margin-right: 0.4em;
}

.rate__text{
  color: hsl(303, 10%, 53%);
  margin-left:2em;
  font-weight: 200;
}
.top-rate{
  position: relative;
  right: 5em;
}

.middle-rate{
  position:relative;
  right: 2.5em;
}

.bottom-container{
  position: relative;
}

.user-rating{
  position: absolute;
  background-color: hsl(300, 43%, 22%);
  color: white;
  border-radius: 2em;
  padding: 3em;
  width: 500px;
  height:300px;
}

.user-rating-middle{
  left: 525px;
  top: 75px;
}

.user-rating-right{
  right:0px;
  top:150px;
}

.user__picture{
  border-radius: 50%;
}

.user-rate__header{
  position: relative;
  width: 300px;
}
.user-data{
  position: relative;
  display: inline-block;
  top: -0.5em;
  left: 1em;
  font-size: 1.25rem;
  
}
.username{
  margin-top:0;
}
.user-description{
  color: hsl(333, 80%, 67%);
}